@{
    Layout="_LayoutAdmin";
    ViewData["Title"]="AdminHome";
}
<div class="amin">
    <div class="card">hhhhhhhjhm</div>
    <div class="card">hhhhhhhjhm</div>
    <div class="card">hhhhhhhjhm</div>
</div>