@{
    ViewData["Title"] = "Home Page";
   
}
<marquee class="markee">Votre Securité notre priorité</marquee>
<div class="text-center div-info">
    <h1 class="display-4 text-align-center size text-light text"><< Bienvenue sur Citi Bank >></h1>
    <p class="text-align-center text  text-light"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel iste vero asperiores eius obcaecati quam dolore exercitationem quia inventore officia tempora hic esse rerum quas illo nisi ducimus numquam omnis, officiis natus consequuntur totam nobis. Ipsam necessitatibus magnam voluptas facere vero, porro voluptatem corrupti voluptatibus tempora tenetur, iste quas accusamus.</p>
</div>
